body {
    font-family: 'Lato', sans-serif;
}
.task-list.row {
    border: 1px solid #edf0f7;
}.task-list.row {}
/* user profile*/
li#point-question strong {
    color: #3498db;
}

li#point-answer {}

li#point-answer strong {
    color: #f39c12;
}

li#question-point {
    color: #3498db;
}

li#answer-point {
    color: #f39c12;
}li#point-question strong {
     color: #3498db;
 }

li#point-answer {}

li#point-answer strong {
    color: #f39c12;
}

li#question-point {
    color: #3498db;
}

li#answer-point {
    color: #f39c12;
}
.footer-profile.row {
    border: 1px solid #d8d8d8;
}
ul.list-point {
    padding: 0px;
    list-style: none;
}

ul.list-footer {
    padding: 0px;
    list-style: none;
}

ul.list-footer li {
    float: left;
    padding: 15px 10px 5px 10px;
    /* border-bottom: 2px solid; */
}
ul.list-footer li a {
    color: #8c97b2;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 3px solid #f39c12;
}
ul.list-point > li {
    margin-bottom: 20px;
    border-left: 4px solid #7389c5;
    color: #78829d !important;
    font-size: 13px;
    border-left: 4px solid #78829d;
    padding: 0;
    padding-left: 5px;
    height: 60px;
}
ul.list-point > li#point-1 {
    border-left: 4px solid #f39c12;
}
ul.list-point > li#point-2 {
    border-left: 4px solid #3498db;
}
ul#ul-point-1 {
    list-style: none;
    padding: 0px;
}
ul#ul-point-2 {
    list-style: none;
    padding: 0px;
}
li#question-point {
    font-size: 15px;
}

li#point-question {
    font-size: 35px;
}

li#answer-point {
    font-size: 15px;
}

li#point-answer {
    font-size: 35px;
}
.head-profile.row h3 {
    color: #2c3e50;
    font-family:'Lato', sans-serif;
}

li#name_profile {
    font-size: 25px;
}

img.img-avatar {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}
.col-md-8.col-sm-8.profile-left.row {
    margin: 0px;
}

ul.list-info {
    margin-left: 20px;
}

ul.list-info li {
    font-family: 'Lato', sans-serif;
    padding: 5px;
}
.head-profile.row {
    padding: 5px 25px;
    border-bottom: 1px solid #d8d8d8;
}

.body-profile.row {

    padding: 50px 30px;
    background: #fbfcff;
}

ul.list-info {
    padding: 0px;
    margin-left: 15px;
    list-style: none;
}

.col-md-8.col-sm-8.profile-left.row {
    margin: 0px;
}
.col-md-8.col-sm-8.profile-left {
    /* float: left; */
}
ul#list-menu-user {
    padding: 0px;
    margin: 0px;
}
.dropdown-menu > li > a:hover {
    background-color: #303a54!important;
}

ul#list-menu-user li {
    background: #303a54;
    border-bottom: 1px solid #fff;
    /* color: #78829d; */
    /* padding: 1; */
}

ul#list-menu-user li a {
    color: #fff !important;
    padding: 10px;
}

ul#list-menu-user li {
}

ul#list-menu-user {
    padding: 0px;
}

ul#list-menu-user li:hover{
    background: #303a54 !important;
}
.btn-primary {
    color: #fff;
    background-color: #3498db;
    border-color: #3498db;
}

.menu {
    background: #2f364a;
    /* padding: 0px; */
}

.col-md-5.logo a {
    color: #fff;
}

.col-md-7.nav-class {
    background: #1a2133;
    padding: 15px 20px;
}

.col-md-7.nav-class li a {
    color: #fff;
}

.col-md-7.nav-class li a:hover {
    color: #15a4fa;
}

.logo-search {
    padding: 15px;
}

.form-search {
    position: relative;
}

.form-search input[type=text] {
    position: absolute;
    right: 5%;
    top: 26%;
    width: 350px;
    height: 33px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    padding-left: 15px;
    outline: none;
    color: #8c97b2;
    border: 1px solid rgba(140, 151, 178, .4);
    -moz-border-radius: 16px / 15px;
    -webkit-border-radius: 16px / 15px;
    border-radius: 16px / 15px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.form-search input[type=text]:focus{
    width: 400px;
}
.form-search i {
    position: absolute;
    right: 28%;
    top: 65%;
}

select#sel1 {
    background: #e4e6ea;
}

select#sel2 {
    background: #e4e6ea;
}

select#sel3 {
    background: #e4e6ea;
}

label#category {
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
}

label#all {
    width: 30%;
}

label#amount {
    width: 40%;
}

ul.state-question {
    padding: 0;
    margin: 0;
}

.el-filter {
    padding-top: 15px;
    margin-left: 40%;

}

.el-amount-question {
    position: relative;
    margin-left: 40%;
    top: 15%;
}

.list-question {
    width: 99%;
}

.state-question {
    list-style: none;
}

.state-question ul {
    padding: 0;
    height: 100%;
}

.state-question li {
    float: left;
    margin-left: 6%;
    margin-top: 6%;
}

.state-question li:hover {
    border-bottom: 5px solid orange;
}

.state-question li a {
    text-decoration: none;
    cursor: pointer;
}

.state-question li a {
    color: #8c97b2;
}

.row.up-filter {
    /* width: 102%; */
    padding: 4px;
    border-bottom: 1px solid #aab6ca;
    border-right: 1px solid #aab6ca;
    color: #6F7D95;
}

.filter-question {
    width: 100%;
}
img#avatar_default {
    height: 35px;
    width: 35px;
    border-radius: 20px;
    margin-left: 10px;
}
.btn-ask-question {
    padding: 40px 25px;
    height: 120px;
    box-sizing: border-box;
    border-bottom: 1px solid #aab6ca;
    border-right: 1px solid #aab6ca;
    color: #6F7D95;
}

.row.down-amount {
    padding: 0;
    border-bottom: 1px solid #aab6ca;
    border-right: 1px solid #aab6ca;
    color: #6F7D95;
}

.box-question {
    margin: 0px;
    border: 1px solid #dadfea;
    padding-top: 20px;
    width: 102.2%;
    background: #fbfcff;
}

.view-question ul {
    list-style: none;
}


ul.ul-info > li {
    float: left;
}

ul.ul-info {
    padding: 0px;
}
li#views,li#questions,li#votes {
    padding: 14px 19px;
    height: 50px;
    width: 50px;
    border: 1px solid #ccd2dc;
    background: #1abc9c;
    color: #fff;
    border-radius: 50%;
}
.view-question-vote{
    background: #1abc9c;
    color: #fff;
}
li.text-li-info {
    padding-top: 30px;
    color: #7b8ba7 !important;
    text-align: center;
}
ul.ul-info li {
    color: black;
}
.user-post.row p {
    margin: 10px;
}

ul.question-tag {
    list-style: none;
}

.question-tag li {
    border: 1px solid #f3f5f9;
    outline: none;
    border-radius: 13px;
    padding: 0px 10px;
    background: #f3f5f9;
}

.question-tag li a {
    color: #6f7d95;
}

ul.question-tag {
    padding: 0px 10px;
}

p.user-badge {
    background: #13a1c5;
    padding: 0 7px;
    border-radius: 10px;
    color: #FFF;
}

.task-list ul {
    list-style: none;
    padding: 0 15px;
    width: 100%;
}

.task-list ul li a {
    color: #78829d;
    text-decoration: none;
}

.task-list ul li {
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

.task-list ul li a i {
    margin-right: 6px;
}

.task-list ul li:hover {

    background-color: #eceeef;
    color: #FFFFFF;
    border-left: 5px solid orange;
}


/**/

.total-question.col-md-2 {
    background: #eef1f7;
}

.row.total-question {
    padding: 20px;
}

.content-box strong {
    font-weight: bolder;
    font-size: 28px;
}

.total-question {
    border-left: 4px solid #3498db;
    margin: 7%;
}

.total-question p {
    margin: 0;
}

.total-question strong {
    font-size: 45px;
}

.total-member strong {
    font-size: 45px;
}

.total-question {
    padding: 10px;
}

.total-member {
    border-left: 4px solid #f39c12;
    margin: 7%;
    padding: 10px;
}

.total-member p {
    margin: 0;
}

.most-used-tags ul {
    list-style: none;
    padding: 2px;
    margin-left: 8%;
    /* margin-bottom: 3%; */
    width: 55%;
}

.most-used-tags ul li {
    border: 1px solid #f3f5f9;
    text-align: center;
    padding: 2px;
    background: #f3f5f9;
    margin-bottom: 10px;
    border-radius: 10px;
}

.most-used-tags p {
    border-bottom: 1px solid #91a7d4;
}

.hot-question>p {
    border-bottom: 1px solid #91a7d4;
}

.hot-question ul {
    list-style: none;
    padding: 5px;
}

.hot-question ul li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.host-question ul li a {
    text-decoration: none;
    cursor: pointer;
}

.detail-state {
    background: #eef1f7;
}

.class-while {
    background: #FFFFFF;
}


/*login
 */

.bg-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    visibility: hidden;
}

.display {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #1414178a;
    z-index: 20;
}

.show-bg-cover {
    display: block;
    visibility: visible;
}


/* login*/
.col-md-5.login-register a {
    color: #fff;
}
.login-register {
    padding: 20px;
    color: #15a4fa;
    text-align: center;
}

.login-register a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.qa-login {
    position: fixed;
    top: 15%;
    left: 25%;
    z-index: 1000;
}

input#email-login,
input#email-register,
input#name {
    background: none;
    border: none;
    outline: none;
    width: 80%;
    border-bottom: 1px solid #999;
    padding: 2px 30px;
    box-sizing: border-box;
    margin-bottom: 6%;
}

.password {
    position: relative;
    margin-bottom: 5%;
}

input#password-login,
input#password-register,
input#repassword-register {
    border: none;
    outline: none;
    background: none;
    width: 80%;
    border-bottom: 1px solid #999;
    padding: 2px 30px;
    box-sizing: border-box;
    margin-bottom: 6%;
}

.login input[type="submit"] {
    /* padding: 12px; */
    display: inline-block;
    background: #6dabe4;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 9px 39px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.login {
    margin-top: 4%;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
    padding-top: 60px;
    padding-bottom: 25px;
}

a#sign-up-here {
    background: #6dabe4;
    padding: 3px 5px;
    color: #FFFF;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    cursor: pointer;
}

a#login-here {
    color: #6dabe4;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    cursor: pointer;
}

h2#signup {
    line-height: 1.66;
    margin: 0px 0px 33px;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

.remember {
    margin-left: 10px;
    margin-bottom: 5%;
    /* position: absolute; */
}

.remember span {
    color: #222222;
    font-family: 'Poppins', sans-serif;
    margin-left: 8px;
}

.email {
    position: relative;
    margin-bottom: 5%;
}

i.fa.fa-envelope {
    /* border-bottom: 1px solid; */
    position: absolute;
    top: 14%;
    left: 2%;
    /* padding: 9px; */
}

i.fas.fa-user {
    position: absolute;
    top: 14%;
    left: 2%;
}

.img-login img {
    margin-left: 5%;
}

i.fa.fa-lock {
    position: absolute;
    top: 14%;
    left: 2%;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #999;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #999;
}

::placeholder {
    color: #999;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
}

.link-to-register {
    /* padding: 0px; */
    margin-top: 3%;
    margin-left: 10%;
    padding: 5px;
}


/* register */

.link-to-login {
    /* padding: 0px; */
    padding: 10px;
}

.register {
    background: #fff;
    padding-top: 30px;
    padding-bottom: 55px;
    margin-top: 4%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 15px;
}

.username {
    position: relative;
    margin-bottom: 5%;
}

h2#signup-register {
    line-height: 1.66;
    margin: 0px 0px 33px;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

a.dropdown-toggle {
    font-size: 15px;
    color: white;
    text-decoration: none !important;
    cursor: pointer;
}

a.dropdown-toggle:hover {
    color: white;
}

a.dropdown-toggle:focus {
    color: white;
}

a#login:hover {
    color: white;
}

a#register:hover {
    color: white;
}

a#login:focus {
    color: white;
}

a#register:focus {
    color: white;
}


/*add sur_vey*/

.session-qa.col-md-4 {
    position: absolute;
    top: 10%;
    padding: 0px;
    left: 35%;
    background: #fff;
    display: none;
    visibility: hidden;
}

.show-sessgion-qa {
    display: block !important;
    visibility: visible !important;
}

.session-qa-head {
    /* background: radial-gradient(black, transparent); */
    background: #2283bb;
    padding: 0;
    margin: 0;
    padding: 14px;
    text-align: center;
    color: white;
}

label#title {
    width: 99%;
}

#form-session input[type='text'] {
    margin-bottom: 10px;
}

select[name='type_session'] {
    margin-bottom: 10px;
}
input[name='name_session']:invalid{
    border:1px solid #cc8c8c;

}
input[name='name_session']:valid{
    border: 1px solid #219fbb;
}
input[name='title_survey']:valid{
    border: 1px solid #219fbb;
}
input[name='title_survey']:invalid{
    border:1px solid #cc8c8c;
}
textarea#des-session:invalid{
    border:1px solid #cc8c8c;
}
textarea#des-session:valid{
    border: 1px solid #219fbb;
}


.row.el-form {
    padding: 4px;
    margin-bottom: 10px;
}
.chairman-session.row {
    margin: 0px;
    margin-top: 3%;
    background: #fff;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
}
textarea#des-session {
    width: 100%;
}
img#profile {
    width: 160px;
    height: 160px;
}
ul.profile-session {
    padding: 10px;

    list-style: none;
}

li#title-session {
    font-size: 20px;
    margin-bottom: 15px;
    color: #17a2b8;
}
li#person-session{
    color: grey;
}

li#time-session {
    margin-top: 20px;
    color: grey;
}

li#des-session {
    margin-top: 14px;
    color: grey;
}
ul.profile-session li i {
    padding-right: 10px;
}
.col-md-3.search-question {
    padding:0px;
}

.col-md-3.create-qa {
    padding: 0px;
}
.list-qa-session {
    margin-top: 4% !important;
    /* box-shadow: 0 5px 3px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
    padding-bottom: 60px;
}

.list-qa-session.row {
    margin: 0px;
}
.list-qa-session.row select {
    /* padding: 10px; */
    height: 30px;
}

.list-qa-session.row {
    background: #5ba2ea;
    padding: 10px 35px;
    /* width: 97%; */
}
.search-create-qa.row {
    margin: 0px;
    margin-left: 3% !important;
    /* padding: 13px; */
}
.list-qa-session {
    background-color: #f5f5f5;
}
img#img-single-qa {
    width: 75px;
    /* height: 75px; */
    padding-top: 1px;
    /* border-top: red; */
    /* border: 1px solid black; */
    border-right: 1px solid #d2d2d2;
}
/* single qa*/
.single-qa.row {margin: auto;margin-left: 3% !important;width: 94%;border: 1px solid #5ba2ea;background: #fff;}

.info-qa ul {
    list-style: none;
    padding: 0;
}

.info-qa {
    margin-left: 20px;
}
.search-create-qa.row {
    padding: 25px 0px;
    width: 94%;
}

.col-md-3.create-qa {
    /* float: right !important; */
}

.col-md-3.create-qa button {
    float: right;
}

.search-create-qa.row {}
span#post-by {
    color: rgb(32, 120, 244);
    margin-right: 5px;
}

span#amount-comment {
    margin-right: 5px;
    color: grey;
}

span#amount-like {
    color: grey;
}
li#title-single-qa {
    font-size: 20px;
    color: red;
}
/* required_password */
.required-password.col-md-6.offset-3.col-sm-6 {
    background-color: #fff;
    padding: 0;
    margin-top: 12%;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}

.head-required h5 {
    margin: 0px;
    padding: 15px 0;
    font-size: 15px;
    /* color: white; */
    /* padding: 2px; */
    /* border-bottom: 1px solid; */
}

input#required_password {
    width: 100%;
    padding: 8px;
}

.body-required {
    padding: 20px 15px;

}
.head-required {
    background-color: #bbcad8;
}

input.btn.btn-primary {
    width: 100px;
    margin-top: 20px;

    /* padding: 0 10px; */
}
/* quesion */
.box-questions {
    margin-top: 1%;
    padding: 10px;
    background: #fff;
    width: 100%;
    border-radius: 10px;
}

.head-content-question h5 {
    color: #385898;
}
.col-md-6.col-sm-6.like-question a {
    margin-left: 45%;
    cursor: pointer;
    text-decoration: none;
    color: #656464;
}

.col-md-6.col-sm-6.comment-question a {
    margin-left: 30%;
    cursor: pointer;
    text-decoration: none;
    color: #656464;
}

.col-md-6.col-sm-6.like-question {
    padding: 10px 0px;

    border-right: 1px solid #dee1ea;
}

.col-md-6.col-sm-6.comment-question {
    padding: 10px 0px;
}
.like-comment-content-question.row {
    margin: 0px;
    /* padding: 10px 0px; */
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}
.quantity-like-question {
    padding: 5px 0;
}
.col-md-10.write-comment form input {
    border-radius: 15px;
}

.write-comment-question.row {
    margin: 0px !important;
    padding: 15px 0px;
}
.col-md-1.avatar-people img {
    height: 35px;
    width: 40px;
    border: 1px solid #b2b6bb;
    border-radius: 20px;
}

.col-md-11.write-comment input {
    border-radius: 20px;
}
.list-comment.row {
    margin: 0px;
    padding: 13px;
    border-radius: 20px;
}
.col-md-10.el-comment p {
    margin: 0;
    padding: 7px;
}
.col-md-10.el-comment {
    /* width:  50% !important; */
    margin-left: 5px;
    background: #f6f6f7;
    border-radius: 20px;
    /* padding: 5px; */
}
ul.like-comment-question {
    list-style: none;
    padding: 0;
    margin: 0;
}
li.session-vote ul {
    padding-left: 30px;
}
ul.like-comment-question li {
    float: left;
    padding: 5px;
}
.rep-comment.col-md-12.row {
    margin: 0;
    padding: 10px 10px 10px 30px;
    display: none;
    visibility: hidden;
}
.show-rep-comment{
    display: block !important;
    visibility: visible !important;
}
.col-md-11.content-rep-comment input {
    border-radius: 20px;
}
.col-md-11.content-rep-comment {
    padding-left: 20px;
}
.list-rep-comment.col-md-12.row {
    margin: 0;
    padding: 10px 10px 10px 30px;
    /* display: none; */
    /* visibility: hidden; */
}
.col-md-1.avatar-people.size-avatar img {
    height: 30px;
    width: 33px;

}
.rep-comment.col-md-12.row.show-rep-comment {
    background: #fafafb;
    border-radius: 20px;

}

.rep-comment.col-md-12.row.show-rep-comment {
    margin-bottom: 15px;

    padding-bottom: 10px;

}
.chairman-session.not-shadow.row {
    box-shadow: none;
}
.hide-comment{
    display: none;
    visibility: hidden;
}
ul.like-comment-question li:nth-child(2) {
    color: #337ab7;
    cursor: pointer;
}
ul.like-comment-question li:nth-child(2):hover {
    padding-bottom: 0;
    border-bottom: 1px solid #337ab7;
}
.box.row {
    /* margin: 0px; */
    height: 86px;
}

.list-box-question {
    padding: 0px;
    margin: 0px;
    width: 102%;
}
p#created_at {
    color: #141e27;
}
i.fas.fa-plus {
    font-size: 11px;
}
input[name="survey"].btn.btn-primary {
    width: 100px;
    margin-top: 20px;
    margin-left: -9px !important;
}
input[name="session"].btn.btn-primary {
    width: 100px;
    margin-top: 20px;
    margin-left: -9px !important;
}
/* padding: 0 10px;
 */

.show-label{
    display: block;
    visibility: visible;
}
.off-label{
    display: none;
    visibility: hidden;
}
.col-md-5.logo {
    margin-top: 11px;
}
.form-search i {
    position: absolute;
    right: 28%;
    top: 50%;
}
.col-md-5.logo a {
    padding-left: 20px;
}

.col-md-6.l-login {
    padding: 8px;
    border-right: 2px solid white;
    /* height: 22px; */
}

.col-md-6.r-register {
    padding: 8px;
}

.col-md-2.logo a img {
    margin-left: 18%;
    margin-top: 15%;
}
.col-md-2.login-register {
    border-left: 1px solid #464646;
}
.col-md-2.logo {
    border-right: 1px solid #464646;
}
.col-md-6.l-login a:hover {
    color: #fff;
}
.col-md-6.r-register a:hover {
    color: #fff;
}
li.session-questions {
    padding-left: 15px !important;
}
.dropdown.user_login {
    padding-top: 9px;
}

.dropdown.user_login a {
    font-size: 16px !important;
}
button.btn.btn-danger.edit {
    padding: 0px 20px;
}
.register input[type="submit"] {
    /* padding: 12px; */
    display: inline-block;
    background: #6dabe4;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 9px 39px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}
.text-center {
    text-align: center;
}
footer {
    margin-top: 100px;
    background: #2f364a !important;
    color: #f5f5f5;
    padding: 32px;
}
.text-center a{
    color: #33d6b1;
}
.text-center a:hover{
    color: #33d6b1;
}
